<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <title>Peru - September 2015 - Form the Amazon to the Andes and Machu Picchu</title>
        <!--  main app style sheet -->
        <link rel="stylesheet" href="styles/main.css">
        <!--  webcomponents library to ensure cross browser support -->
        <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
        <!--  manifest of imports for required elements -->
        <link rel="import" href="elements/elements.html">
    </head>

    <body unresolved class="fullbleed layout vertical">
        <template is="dom-bind" id="my-app">
            <!--  iron-ajax loads data for map pins and cards -->
            <iron-ajax auto url="api/location_data.json" handle-as="json" last-response="{{places}}" verbose="true">
            </iron-ajax>
            <!-- paper-header-panel wraps all contnet  -->
            <paper-header-panel mode="seamed">
                <!-- Top bar with title and tabs -->
                <paper-toolbar class="tall">
                <!-- Application Title  -->
                    <div class="top middle-container center horizontal layout">
                        <div class="app-name">Peru - From the Amazon to the Andes</div>
                    </div>
                    <div class="middle middle-container center horizontal layout">
                        <div>September 12th 2015 - Septemebr 28th 2015</div>
                    </div>
                    <!-- Tabbed navigation -->
                    <paper-tabs id="tabs" class="bottom self-end" selected="{{selected}}">
                        <paper-tab class="flex"><iron-icon icon="flag"></iron-icon>&nbsp;Map View</paper-tab>
                        <paper-tab class="flex"><iron-icon icon="apps"></iron-icon>&nbsp;Card View</paper-tab>
                        <!-- <paper-tab class="flex">Animals of the Amazon</paper-tab> -->
                    </paper-tabs>
                </paper-toolbar>
                <!-- Each page of tabbed content is a child div of iron-pages and wraps the content for that page -->
                <iron-pages selected="{{selected}}">
                    <!-- Map view content -->
                    <div>
                        <paper-drawer-panel>
                            <div drawer style="overflow: scroll;">
                                <paper-menu>
                                    <template is="dom-repeat" items="{{places}}">
                                        <map-list-item index="{{item.id}}" item="{{item}}" map="map"></map-list-item>
                                    </template>
                                </paper-menu>
                            </div>
                            <div main>
                                <google-map id="map" click-events="true" single-info-window="true" latitude="37.77493"
                                    longitude="-122.41942" apiKey="AIzaSyBva0skPwfeh5bYfV06qqdO7sQjoBDF2iM"
                                    additional-map-options='{"mapTypeControlOptions":{"position":"3"}}' fit-to-markers>
                                    <!-- 3 = google.maps.ControlPosition.TOP_RIGHT -->
                                    <div>
                                        <paper-icon-button class="open-map-side" icon="chevron-right" paper-drawer-toggle
                                        raised></paper-icon-button>
                                    </div>

                                    <template is="dom-repeat" items="{{places}}">
                                        <google-map-marker icon="[[markerUrl(item.id)]]" latitude="{{item.lat}}"
                                                longitude="{{item.lng}}" title={{index}}>
                                            <h3 class="infoWindow infoWindowTitle">
                                                Day <span>{{item.day}}</span>: <span>{{item.location}}</span>
                                            </h3>
                                            <img class="infoWindow infoWindowImg" src="[[thumbUrl(item.img)]]"
                                                onclick="openFull(event)">
                                            <p class="infoWindow infoWindowDesc">{{item.desc}}</p>
                                            <small class="infoWindow infoWindowDate">{{item.date}}</small>
                                        </google-map-marker>
                                    </template>
                                </google-map>
                            </div>
                        </paper-drawer-panel>
                    </div>
                    <!-- Card view content -->
                    <div id="cards">
                        <template is="dom-repeat" items="{{places}}">
                            <paper-card>
                                <div class="card-content">
                                    <div>
                                        <h3 class="card cardTitle">
                                            Day <span>{{item.day}}</span>: <span>{{item.location}}</span>
                                        </h3>
                                        <img class="card cardImg" src="[[thumbUrl(item.img)]]"
                                            onclick="openFull(event)">
                                        <p class="card cardDesc">{{item.desc}}</p>
                                        <small class="card cardDate">{{item.date}}</small>
                                    </div>
                                </div>
                            </paper-card>
                        </template>
                    </div>
                    <!-- <div>Animals of the Amazon ...</div> -->
                </iron-pages>

                <!--  paper-dialog to hold full size image for display called from both map and card views-->
                <paper-dialog id="card-img-dialog" with-backdrop="true"
                    entry-animation="slide-down-animation" exit-animation="slide-right-animation">
                </paper-dialog>
            </paper-header-panel>

        </template>
        <!-- main app scripts -->
        <script src="scripts/app.js"></script>
    </body>
</html>
