<!--
'map-list-item' is an elemets based on paper-item that is designed to be used within thw draw of a
paper-drawer-panel. It has a click event that changes the center and zoom of the google-map element reference
in the map attribute.

Example:

    <link rel="import" href="pathto/map-list-item.html">

    <map-list-item index="1" item="{{object}}" map="id-of-google-map"></marker-list-item>
-->
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">

<dom-module id="map-list-item">
    <template>

        <style>
            paper-item {
                max-height: 48px;
                border-bottom: 1px solid #CCC;
                cursor: pointer;
            }

            paper-item span {
                max-height: 48px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                pointer-events: none;
            }
        </style>

        <paper-item on-click="onClick">
            <span>[[label]]</span>
        </paper-item>

    </template>

    <script>
        Polymer({
            is: "map-list-item",

            properties: {

                index: {
                    type: Number,
                    observer: '_indexChanged'
                },

                item: {
                    type: Object
                },
                map: {
                    type: String
                },
                label: {
                    type: String,
                    value: ""
                }
            },
            ready: function() {
                this.label = this.index + ". " + this.item.location;
            },
            onClick: function() {
                var gmap = document.getElementById(this.map);
                gmap.setAttribute( "latitude", this.item.lat );
                gmap.setAttribute( "longitude", this.item.lng );
                gmap.setAttribute( "zoom", 12 );

                console.log('clicked: ' + this.index );
            },
            _indexChanged: function(newVal, oldVal) {
                this.index = newVal;
                this.label = this.index + ". " + this.item.location;
            }
        });
    </script>
</dom-module>
