/**
* @file styles.css
* @author Robert Curran <robert.d.curran@googlemail.com>
*/

html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
}
paper-header-panel {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}


paper-toolbar.tall .app-name {
    font-size: 40px;
    font-weight: 300;
    /* Required for main area's paper-scroll-header-panel custom condensing transformation */
    -webkit-transform-origin: left center;
    transform-origin: left center;
  }

#tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

google-map {
    height: 95 vh;
}

.infoWindow {
    max-width: 300px;
}

.infoWindowTitle {
    font-weight: bold;
}

.infoWindowImg {
    max-width: 300px;
    max-height: 300px;
    cursor: pointer;
}

#cards {
    max-width: 50%;
    min-width: 332px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
}
paper-card {
    width: 100%;
    margin-bottom: 16px;
}

.cardImg {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

paper-dialog{
    max-width: 98vh;
    max-height: 98vh;
}

#card-img-dialog img{
    max-width: calc(98vh - 48px);
    max-height: calc(98vh - 48px);
}
